checkpoints/*
splits/*
!splits/test_observations.csv
wandb/*
checkpoints
wandb
Patch_Cropper/patches/*
Patch_Cropper/patches_test/*
Patch_Cropper/patches_gdal/*
Patch_Cropper/*.tif
Data_Downloader/*.tif
Data_Downloader/LargeStackedTifs
Data_Downloader/DataFolder
output/*
output_tif/*
*.pyc
*.pth
__pycache__/
__pycache__
npy_outputs/*
npy_outputs
